<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>My cars</title>
</head>
<body>
<p>Hello stranger!</p>
<p>All my available cars</p>
<table>
    <thead>
    <tr>
        <td>manufacturer</td>
        <td>model</td>
        <td>body</td>
        <td>productionYear</td>
        <td>horsePower</td>
        <td>engineCapacity</td>
        <td>color</td>
        <td>pricePerDay</td>
    </tr>
    </thead>
    <tbody>

    <tr th:each =" car : ${cars}">
        <td th:text="${car.getId()()}"></td>
        <td th:text="${car.getManufacturer()}"></td>
        <td th:text="${car.getModel()}"></td>
        <td th:text="${car.getProductionYear()}"></td>
        <td th:text="${car.getHorsePower()}"></td>
        <td th:text="${car.getEngineCapacity()}"></td>
        <td th:text="${car.getColor()}"></td>
        <td th:text="${car.getPricePerDay()()}"></td>
    </tr>
    </tbody>
</table>
<br>
<a href="#" th:href="@{/}">Return to home page</a>
</body>
</html>